<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net471" />
  <package id="SharpCompress" version="0.22.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net471" />
</packages>